{% extends "planning/base.html" %}
{% block content %}
{% load index %}
<div class="button_overview"><button onclick="location.href='{% url 'projects_add' %}'" type="button">New project</button></div>
<h3>Projects</h3>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Outstanding tasks</th>
			<th>Priority</th>
			<th>Due date</th>
			<th>Status</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for project in tasks %}
		<tr>
			<td><a href="{% url 'projects_view' pk=project.id %}">{{ project.name }}</a></td>
			<td>{{ project.num_tasks }}</td>
			<td>{{ priorities|index:project.priority }}</td>
			<td>{{ project.due_date }}</td>
			<td>{% if project.status == 0 %}Open{% else %}Closed{% endif %}</td>
			<td><a href="{% url 'projects_edit' pk=project.id %}">Edit</a> - <a href="{% url 'projects_delete' pk=project.id %}">Delete</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock content %}