{% extends "planning/base.html" %}
{% block content %}
{% load index %}
<div class="button_overview"><button onclick="location.href='{% url 'tasks_add' pk=project.id %}'" type="button">Add task</button></div>
<h3>Project: {{ project.name }}</h3>
<table>
	<thead>
		<tr>
			<th>Task</th>
			<th>Due date</th>
			<th>Required skill</th>
			<th>Priority</th>
			<th>Status</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for task in tasks %}
		<tr>
			<td>{{ task.name }}</td>
			<td>{{ task.due_date }}</td>
			<td>{{ task.skills.name }}</td>
			<td>{{ priorities|index:task.priority }}</td>
			<td>{{ status|index:task.status }}</td>
			<td><a href="{% url 'tasks_edit' pk=project.id pk_task=task.id %}">Edit</a> - <a href="{% url 'tasks_delete' pk=project.id pk_task=task.id %}">Delete</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock content %}