{% extends "planning/base.html" %}
{% block content %}
<h2>Welcome to Klompé</h2>
You are now successfully logged in. With Klompé, you can make a daily schedule. To do this, you first need to enter the correct data. This page explains the different parts and their functions.
<h4>Workers</h4>
<p>All workers, both employees, and volunteers, are added to the workers page. When creating or editing a worker, you can specify the skill preference. Each worker can only specify one preference. </p> 
<p>You can also add certain skills to a worker. When adding a skill, you immediately pass on the current labor productivity. Periodically you can change the productivity by clicking on 'modify.' Make sure that productivity remains up to date. Otherwise, the results may not be accurate.
<h4>Skills</h4>
<p>Skills provides an overview of all available skills required by the organization. For each skill, it can be set how many workstations there are. By setting a limit, it is never possible to schedule more workers than the specified amount per shift. Besides, the gross profit per unit output can be entered. This value is used for the gross profit maximization when creating a schedule.</p>
<h4>Projects</h4>
<p>Projects are activities that can consist of one or more tasks. For example, a project can be an order. The required skills form tasks. One skill can be linked to each task. In addition, both projects and tasks can be given a name, due date, priority, and status. These elements should create clarity for the user. The tasks are used to limit the output when creating a schedule. The use of tasks is also optional. The minimum and maximum output can also be set manually.</p>
<h4>Shifts</h4>
<p>The shifts page contains all possible shifts. A shift can be given a name and length. The length is always in hours. The length of a shift is used to determine the output of a shift. It is therefore important that shifts are correctly determined and entered.</p>
<h4>Availability</h4>
<p>On the availability page, the availability of a worker per day can be determined. When entering a new availability, you choose a worker, fill in a date, and select the shifts in which the worker is available. Do this daily and for each worker. The planning algorithm takes into account the availability on a day.</p>
<h4>Planning</h4>
<p>The planning page contains an explanation of the planning algorithm. In addition, a new schedule can be made here.</p> 
{% endblock content %}