{% extends "planning/base.html" %}
{% block content %}
{% load icon %}
<div class="button_overview"><button onclick="location.href='{% url 'workers_add' %}'" type="button">New worker</button></div>
<h3>Workers</h3>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Preferred skill</th>
			<th>Skills</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for worker in workers %}
		<tr>
			<td>{{ worker.name }} (<a href="{% url 'workers_edit' pk=worker.id %}">edit</a>)</td>
			<td>{% if worker.preference.name|length > 0 %}{{ worker.preference.name }}{% else %}No preference{% endif %}</td>
			<td><a href="{% url 'workerskills_edit' pk=worker.id %}">View skills</a>
			</td>
				
				
			<td><a href="{% url 'workers_delete' pk=worker.id %}">Delete</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock content %}