{% extends "planning/base.html" %}
{% block content %}
{% regroup availabilities by date as date_list %}
<div class="button_overview"><button onclick="location.href='{% url 'availability_add' %}'" type="button">Add availability</button></div>
<h3>Availability</h3>
Only availabilities from today and in the future are shown. <a href="?sort=all">Show all</a>.
<table>
	{% for date in date_list %}
	<thead>
		<tr>
			<th colspan="4"><h4 style="text-align:left;">{{ date.grouper }}</h4></th>
		</tr>
	</thead>
	<thead>
		<tr>
			<th>Name</th>
			<th>Shifts</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for availability in date.list %}
		<tr>
			<td valign="top">{{ availability.worker.name }}</td>
			<td valign="top">{% for shift in availability.shift.all %}{{ shift }}{% if forloop.last %}{% else %}<br />{% endif %}{% endfor %}</td>
			<td valign="top"><a href="{% url 'availability_edit' pk=availability.id %}">Edit</a> - <a href="{% url 'availability_delete' pk=availability.id %}">Delete</a> </td>
		</tr>
		{% endfor %}
	</tbody>
	{% endfor %}
</table>
{% endblock content %}